@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --color-darkblue: #647fbc;
  --color-lightblue: #adbbdb;
  --color-yellow: #fafdd6;
  --color-text: #595959;
  --color-text-light: #8e8e8e;
}

html {
  background-color: var(--color-yellow);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC", sans-serif;
  background-color: var(--color-yellow);
}

#main-container {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  filter: invert(1);
}
