* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-darkblue: #647fbc;
  --color-lightblue: #adbbdb;
  --color-yellow: #fafdd6;
  --color-text: #595959;
  --color-text-light: #3c3c3c;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html {
    box-sizing: border-box;   
    background-color: var(--color-yellow);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
    background-color: var(--color-yellow);
}

a {
    color: inherit;
    text-decoration: none;
}
