#map {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: var(--color-darkblue);
  grid-column: span 5;
  grid-column-start: 8;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}
#map:hover {
  transform: translate(0, 5px);
  transition: all 800ms ease-in-out;
}
.map-svg {
  fill: white;
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: transform 1200ms ease-out;
}
.path {
  stroke: var(--color-darkblue);
  stroke-width: 1.2px;
  vector-effect: non-scaling-stroke;
}
.path:hover,
.path.is-active {
  fill: var(--color-lightblue);
  transform: translate(0px, -1px);
  transition: all 500ms ease-out;
}

.island {
  transform-box: fill-box;
  transform-origin: center;
}
.map-lienchiang-county {
  transform: translate(-10px, 80px) scale(8);
}
.map-kinmen-county {
  transform: translate(100px, -20px) scale(1.5);
}
.map-penghu-county {
  transform: translate(-10px, -40px) scale(2);
}

/* 讓 overlay 能定位在 svg 上方 */
.map {
  position: relative;
  width: 100%;
  max-width: 400px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* overlay 容器：蓋在 svg 上 */
.weather_data {
  position: absolute;
  inset: 0;
  pointer-events: none; /* 不擋 svg 點擊 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  transform: scale(1);
  transition: transform 1200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* icon 點 */
.weather_data .icon_zone {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: auto; /* 自己可點 */
  text-decoration: none;
  cursor: pointer;
  z-index: 2;

  background-color: var(--color-lightblue);
  border: 6px solid var(--color-lightblue);
  border-radius: 50%;
}
.weather_data .icon_zone:hover {
  /* transform: translate(calc(-50% + 0px), calc(-50% - 2px)); */
  scale: calc(1.02);
  transition: all 500ms;
}

/* 預設：圓圈 icon，文字不顯示 */
.weather_data .icon_zone img {
  width: 36px;
  height: 36px;
  margin: 0 auto;
  display: block;
  border: none;
}

.weather_data .icon_zone .city,
.weather_data .icon_zone .desc {
  display: none;
}

/* 點擊後：方框 */
.weather_data .icon_zone.is-active {
  background: #fff;
  z-index: 5;
  padding: 10px 12px;
  border-radius: 10px;
  border: 3px solid var(--color-lightblue);
  min-width: 120px;
  text-align: center;
}

/* 點擊後：隱藏 icon */
.weather_data .icon_zone.is-active img {
  display: none;
  box-shadow: 3px 3px 10px transparent;
  background-color: transparent;
  transition: all 700ms ease-out;
}

/* 點擊後：顯示文字 */
.weather_data .icon_zone.is-active .city,
.weather_data .icon_zone.is-active .desc {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-darkblue);
}
.weather_data .icon_zone.is-active .desc {
  color: var(--color-text-light);
}

.weather_data .icon_zone.is-active .city {
  font-weight: 700;
  margin-bottom: 4px;
}

@media (max-width: 1200px) {
  #map {
    grid-column: span 6;
    grid-column-start: 7;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .map-svg {
    transform: scale(0.85);
  }
  .weather_data {
    transform: scale(0.8);
  }
}

@media (max-width: 900px) {
  #map {
    display: none;
  }
}
