#nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
.nav-container {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--color-darkblue);
  box-shadow: 0px 30px 30px rgba(255, 255, 255, 0.6);
}
.nav-container-input {
  max-width: 250px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding: 0px 20px;
  border-radius: 30px;
  background-color: var(--color-yellow);
  color: var(--color-text);
  font-size: 20px;
  font-weight: 700;
  list-style: none;
}
.nav-container-ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.nav-ul-li {
  max-width: 250px;
  width: 100%;
  height: 45px;
  border-radius: 30px;
  border: 3px solid var(--color-yellow);
  overflow: hidden;
}
.nav-ul-li:hover {
  background-color: var(--color-yellow);
  transform: translate(0, 5px);
  transition: all 800ms;
  cursor: pointer;
}
.nav-li-a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  background-color: #ffffff00;
  cursor: pointer;
}
.nav-ul-li:hover .nav-li-a {
  color: var(--color-text);
}

.nav-dropcontainer {
  position: relative;
  width: 60%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: var(--color-darkblue);
  border: 3px solid var(--color-yellow);
  border-radius: 30px;
  color: white;
  cursor: pointer;
  display: none;
}
.nav-dropcontainer-ul {
  position: absolute;
  top: calc(100% + 20px);
  right: 0;
  width: 100%;
  height: 388px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0px;
  border-radius: 30px;
  background-color: var(--color-yellow);
  box-shadow: 20px 10px 20px rgba(255, 255, 255, 0.6);
  color: var(--color-text);
  font-weight: 500;
  list-style: none;
  overflow-y: scroll;

  /* slide in/out */
  max-height: 0;
  opacity: 0;
  transform: translateY(-6px);
  pointer-events: none;
  transition: all 400ms;
}
.nav-dropcontainer-ul::-webkit-scrollbar {
  display: none;
}
.nav-dropcontainer.is-open .nav-dropcontainer-ul {
  max-height: 388px;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.nav-dropcontainer-li {
  padding: 4px;
  cursor: pointer;
}
.nav-dropcontainer-li:hover {
  color: var(--color-text-light);
  transition: all 800ms;
}

@media (max-width: 1200px) {
  .nav-li-a {
    line-height: 0.99em;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .nav-container-input {
    max-width: 60%;
    margin: 0 20px;
  }
  .nav-container-ul {
    display: none;
  }
  .nav-dropcontainer {
    display: flex;
  }
}

@media (max-width: 425px) {
  .nav-dropcontainer.is-open .nav-dropcontainer-ul {
    max-height: 200px;
  }
}
