.weather-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 20px;
  width: 1200px;
  margin-top: 120px;
  color: #fff;
}

.weather-card {
  background-color: var(--color-darkblue);
  padding: 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.weather-card:hover {
  transform: translate(0, 5px);
  transition: all 800ms;
}

/* 縣市今日天氣 */
.city {
  grid-column: span 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.city-title {
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  padding-bottom: 5px;
}

.city-date {
  font-size: 2rem;
  color: var(--color-yellow);
}

.city-circle-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding-top: 20px;
}

.city-circle-item {
  width: 24px;
  height: 24px;
  background-color: var(--color-lightblue);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-circle-item img {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.city-subtitle {
  font-size: 1.25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.city-btn {
  width: 106px;
  padding: 15px 8px;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25rem;
  background-color: var(--color-yellow);
  color: var(--color-text);
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.city-btn:hover {
  background-color: #aed6cf;
  color: #fff;
  scale: calc(1.02);
}

.city-btn:active {
  background-color: #91adc8;
}

.city-btn img {
  width: 1.25rem;
  height: 1.25rem;
  object-fit: cover;
  vertical-align: middle;
  filter: invert(0);
  background-color: #fff;
  border-radius: 1.25rem;
}

.city-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-left: 10px;
  padding-right: 20px;
}

.city-state-icon {
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.city-state-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 天氣區塊 */
.weather {
  grid-column: span 3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.weather-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 140px;
}

.weather-title {
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
  color: var(--color-yellow);
}

.weather-time {
  font-size: 1rem;
  padding-bottom: 20px;
}

.weather-state-icon {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.weather-state-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.weather-state-text {
  padding-top: 10px;
  /* color: #AED6CF; */
  color: var(--color-lightblue);
  font-weight: 500;
}

.weather-temperature {
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 500;
}

.weather-rainfall {
  font-size: 1rem;
  display: none;
}

.weather-bar {
  width: 3px;
  height: 100%;
  border-radius: 3px;
  background-color: #fff;
}

/* 圖表區塊 */
.chart {
  grid-column: span 7;
  height: 300px;
}

/* 互動效果 */
.weather-flash-active {
  background-color: #648dbc !important;
}

/* RWD */
@media (max-width: 1200px) {
  .weather-container {
    width: 90%;
  }

  .city {
    grid-column: span 6;
  }

  .weather {
    grid-column: span 6;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .chart {
    grid-column: span 12;
  }
}

@media (max-width: 900px) {
  .city {
    grid-column: span 12;
    justify-content: space-around;
  }

  .city-info {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .weather {
    grid-column: span 12;
    justify-content: space-evenly;
  }
}

@media (max-width: 425px) {
  .city {
    justify-content: space-between;
  }

  .city-info {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }

  .city-title {
    font-size: 2.5rem;
  }
}
